<!--header  child-->
<app-header (onMenubtnClick)="toggle()"></app-header>
<!--side nav-->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebaropened">
    <!--sidebar-->
    <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <!--router-->
        <router-outlet></router-outlet>
     
    
    </mat-drawer-content>
    </mat-drawer-container>
    <!--divider-->
    <mat-divider></mat-divider>
<!--footer-->
<app-footer></app-footer>