<div>
    <!--admin details-->
    <div class="profile">
        <img class="center"height=150px width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGbHKzTkQqpU_dlO4YT1_WsxqaXWId6Ilh0Q&usqp=CAU" alt="admin img">
        <h3 class="h3">Admin</h3>
        <h4 class="h4" >admin@Jyothi</h4>
        <mat-divider></mat-divider>
        <h2>pages</h2>
        <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employee</a>
        <a routerLink="gallery">Gallery</a></div>
        <mat-divider></mat-divider>
        <h2>Tools</h2>
        <div class="pages">
            <a routerLink="contacts"><mat-icon>contact_phone</mat-icon>contacts</a>
       
        
    </div>
</div>